<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <appSettings>
      <add key="noOfQueries" value="2"/>
      <add key="query1" value="SELECT tbl, Max([MaxDate])
                                            FROM(
                                                SELECT t.name AS tbl,
                                                   (SELECT MAX(v) FROM(VALUES(last_user_seek), (last_user_scan), (last_user_lookup), (last_user_update)) AS value(v)) as [MaxDate]
                                            
                                                FROM   sys.dm_db_index_usage_stats i
                                                   JOIN sys.tables t
                                                     ON(t.object_id = i.object_id)
                                            
                                                WHERE  database_id = DB_ID()
                                            	) AS x
                                            GROUP BY tbl
                                            ORDER BY tbl" />
      <add key="queryOutputFile1" value="E:\Temp\output1.txt"/>
      <add key="query2" value="select sys.objects.name, sum(reserved_page_count) * 8.0 / 1024 [SizeInMB], sys.objects.create_date, sys.objects.modify_date from sys.dm_db_partition_stats, sys.objects where sys.dm_db_partition_stats.object_id = sys.objects.object_id group by sys.objects.name, sys.objects.create_date, sys.objects.modify_date HAVING sum(reserved_page_count) * 8.0 / 1024 >= 0 order by sum(reserved_page_count) DESC;" />
      <add key="queryOutputFile2" value="E:\Temp\output2.txt"/>
    </appSettings>
</configuration>
